body {
  background: #fff;
  color: #000;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.app-navbar {
  padding: 20px 50px 20px 50px;
  background: rgba(0, 0, 0, 0.8);
}
.app-navbar .text-dark {
  color: rgb(233, 171, 124) !important;
}
.app-navbar .text-dark:hover {
  color: white !important;
}
.app-navbar .navbar-brand {
  color: #8a57ea;
}
.app-navbar .navbar-brand:hover {
  color: white !important;
}
.app-navbar .dropdown-toggle {
  border-color: #8a57ea;
  color: #e4c480;
}

.contact-first-col {
  background-color: #8a57ea;
  color: #fff;
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.contact-first-col h4 {
  margin-top: 30px;
  line-height: 40px;
  font-weight: 400;
}
.contact-first-col img {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100px;
}

.form-contact label {
  font-weight: 700;
}
.form-contact .btn-primary {
  background-color: #8a57ea;
}